//colors
$white: #ffffff;
$black: #3d3e48;
$green: #43b97f;
$darkgreen: #295943;
//border-radius
$borderRadius_5: 5px;
$borderRadius_8: 8px;
$borderRadius_10: 10px;
$borderRadius_15: 15px;
$borderRadius_95: 95px;
// size
