<section class="section_card_waterCityDream">
  <div class="card_waterCityDream">
    <h2>Water City Dreams</h2>
    <p>September 18, 2022</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis
    </p>
    <button class="btn_card_waterCityDream"><a href="#">Read More</a></button>
  </div>
  <div class="card_waterCityDream">
    <h2>Water City Dreams</h2>
    <p>September 18, 2022</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis
    </p>
    <button class="btn_card_waterCityDream"><a href="#">Read More</a></button>
  </div>
  <div class="card_waterCityDream">
    <h2>Water City Dreams</h2>
    <p>September 18, 2022</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis
    </p>
    <button class="btn_card_waterCityDream"><a href="#">Read More</a></button>
  </div>
</section>
