<footer class="footer">
  <div class="info">
    <div class="travelaja_info">
      <h2><a href="../index.html">travelaja</a></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim praesent elementum facilisis leo, vel
      </p>
    </div>
    <div class="footer_list">
      <div class="links">
        <ul>
          <li class="li_drop">
            <span>Links</span>
            <span class="menu_arow"></span>
            <ul class="drop drop_links">
              <li><a href="../nested/discover.html">Discover</a></li>
              <li><a href="#">Special Deals</a></li>
              <li><a href="../nested/service.html">Services</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="services">
        <ul>
          <li class="li_drop">
            <span>Services</span>
            <ul class="drop drop_services">
              <li><a href="../nested/about_us.html">About Us</a></li>
              <li><a href="#">Blog & Articles</a></li>
              <li><a href="#">Term and Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="../nested/contact.html">Contact Us</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <address class="contact">
        <ul>
          <li class="li_drop">
            <span>Contact</span>
            <ul class="drop drop_contact">
              <li><a href="#">Address: Jl.Codelaras No.205A</a></li>
              <li><a href="#">Kediri, Pare AG17</a></li>
              <li><a href="#">Phone: 123 456 7890</a></li>
              <li><a href="#">Email: myagungperdana@gmail.com</a></li>
              <li><a href="#">Maps: Kediri, East java</a></li>
            </ul>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="social_networks">
    <p>Ikuti Kami</p>
    <div class="img">
      <img src="../src/assets/icons/instagram.svg" alt="" />
      <img src="../src/assets/icons/facebook.svg" alt="" />
      <img src="../src/assets/icons/twiter.svg" alt="" />
      <img src="../src/assets/icons/boal.svg" alt="" />
      <img src="../src/assets/icons/git.svg" alt="" />
    </div>
  </div>
</footer>
