<footer class="footer">
  <div class="info">
    <div class="travelaja_info">
      <h2>travelaja</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim praesent elementum facilisis leo, vel
      </p>
    </div>
    <div class="links">
      <ul>
        <li>links</li>
        <ul>
          <li>Discover</li>
          <li>Special Deals</li>
          <li>Services</li>
          <li>Community</li>
          <li>About Us</li>
        </ul>
      </ul>
    </div>
    <div class="services">
      <ul>
        <li>Services</li>
        <ul>
          <li>About Us</li>
          <li>Blog & Articles</li>
          <li>Term and Condition</li>
          <li>Privacy Policy</li>
          <li>Contact Us</li>
        </ul>
      </ul>
    </div>
    <address class="contact">
      <ul>
        <li>Contact</li>
        <ul>
          <li>Address: Jl.Codelaras No.205A</li>
          <li>Kediri, Pare AG17</li>
          <li>Phone: 123 456 7890</li>
          <li>Phone: 123 456 7890</li>
          <li>Maps: Kediri, East java</li>
        </ul>
      </ul>
    </address>
  </div>
  <div class="social_networks">
    <p>Ikuti Kami</p>
    <div class="img">
      <img src="../img/icons/instagram.svg" alt="" />
      <img src="../img/icons/facebook.svg" alt="" />
      <img src="../img/icons/twiter.svg" alt="" />
      <img src="../img/icons/boal.svg" alt="" />
      <img src="../img/icons/git.svg" alt="" />
    </div>
  </div>
</footer>
