<header class="header">
  <a href="#" class="logo">travelaja</a>
  <nav class="nav">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="../nested/discover.html">Discover</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="lang">
    <ul>
      <li>
        <a href="#">ID</a>
        <!-- <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul> -->
      </li>
    </ul>
    <span></span>
  </div>
</header>
