<header class="header_two">
  <a href="/index.html" class="logo_two">travelaja</a>
  <nav class="nav_two">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="../nested/discover.html">Discover</a></li>
      <li><a href="../nested/service.html">Services</a></li>
      <li><a href="../nested/news.html">News</a></li>
      <li><a href="../nested/about_us.html">About us</a></li>
      <li><a href="../nested/contact.html">Contact</a></li>
    </ul>
  </nav>
  <div class="lang_two">
    <ul>
      <li>
        <a href="#">ID</a>
        <!-- <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul> -->
      </li>
    </ul>
    <span></span>
  </div>
</header>
