<section class="sections_whyChooseUs">
  <h2>Why Choose Us ?</h2>
  <p>These popular destinations have a lot to offer</p>
  <div class="preference">
    <div class="item">
      <div class="icon"></div>
      <h3>Best price guarantee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="item">
      <div class="icon"></div>
      <h3>Easy Booking</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="item">
      <div class="icon"></div>
      <h3>Customer Service 24h</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</section>
