<section class="section_aboutIcons">
  <div class="item">
    <iconify-icon
      icon="emojione-monotone:ship"
      style="color: #a8a7ab"
      width="128"
      height="128"
    ></iconify-icon>
    <p>TRAVEL</p>
  </div>
  <div class="item">
    <iconify-icon
      icon="healthicons:city-outline"
      style="color: #a8a7ab"
      width="128"
      height="128"
    ></iconify-icon>
    <p>CITY TOUR</p>
  </div>
  <div class="item">
    <iconify-icon
      icon="fontisto:island"
      style="color: #a8a7ab"
      width="128"
      height="130"
    ></iconify-icon>
    <p>ISLAND TOUR</p>
  </div>
  <div class="item">
    <iconify-icon
      icon="gis:map-route"
      style="color: #a8a7ab"
      width="128"
      height="128"
    ></iconify-icon>
    <p>EXPLORE WORLD</p>
  </div>
</section>
