<section class="general">
  <div class="text_block">
    <h2>Explore the world with a smile</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
      dolor purus non enim praesent elementum facilisis leo,
    </p>
  </div>
  <div class="search">
    <div>
      <span class="icon_input"></span>
      <iconify-icon icon="carbon:location-filled" class="svg"></iconify-icon>
      <input
        type="location"
        placeholder="City or Destination"
        class="lacation"
      />
    </div>
    <div>
      <span class="icon_input"></span>
      <input
        placeholder="Date of stay"
        class="date"
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </div>

    <div>
      <span class="icon_input"></span>
      <input type="number" placeholder="Person" class="person" />
    </div>
    <div>
      <button class="btn_general">
        <a href="#"
          >Find Trip Now
          <img src="./src/assets/icons/search.svg" alt="" />
        </a>
      </button>
    </div>
  </div>
</section>
