<section class="section_travelajaArticles">
  <h2>Travelaja Articles</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
  <nav class="nav_travelajaArticles">
    <ul>
      <li><a href="#">Adventure Travel</a></li>
      <li><a href="#">Beach</a></li>
      <li><a href="#">Explore World</a></li>
      <li><a href="#">Family Holidays</a></li>
      <li><a href="#">Art and culture</a></li>
    </ul>
  </nav>
  <div class="card_block">
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>where can i go? 5 amazing countries that are open right now</h4>
        <p>September 19, 2022</p>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>beautiful view of indonesia's natural hills</h4>
        <p>September 19, 2022</p>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>10 Indonesian Destinations you should visit in this year</h4>
        <p>September 19, 2022</p>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>5 mountains that you must visit while in Indonesia</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>the most interesting historical monuments in Indonesia</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>travel booking before missing the discount</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>10 Indonesian Destinations you should visit in this year</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>travel booking before missing the discount</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <div class="img"></div>
        <h4>where can i go? 5 amazing countries that are open right now</h4>
        <p>September 19, 2022</p>
      </a>
    </div>
  </div>
</section>
