<section class="section_itemServices">
  <div class="item">
    <iconify-icon
      icon="icomoon-free:price-tags"
      width="44"
      height="44"
      class="icon"
    ></iconify-icon>
    <h3>Get Best Price</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui
      tortor, proin eu lectus pellentesque. A cras suscipit amet
    </p>
    <button class="btn_itemServices">
      <a href="#">READ MORE</a>
    </button>
  </div>
  <div class="item">
    <iconify-icon
      icon="majesticons:map-simple-destination"
      width="44"
      height="44"
      class="icon"
    ></iconify-icon>

    <h3>All Destination</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui
      tortor, proin eu lectus pellentesque. A cras suscipit amet
    </p>
    <button class="btn_itemServices">
      <a href="#">READ MORE</a>
    </button>
  </div>
  <div class="item">
    <iconify-icon
      icon="arcticons:city-transit"
      width="44"
      height="44"
      class="icon"
    ></iconify-icon>

    <h3>City Tours</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui
      tortor, proin eu lectus pellentesque. A cras suscipit amet
    </p>
    <button class="btn_itemServices">
      <a href="#">READ MORE</a>
    </button>
  </div>
  <div class="item">
    <!-- <iconify-icon
      icon="majesticons:image-photography-line"
      width="44"
      height="44"
      class="icon_4"
    ></iconify-icon> -->
    <img src="../src/assets/service/svg/city_tours.svg" alt="" />
    <h3>City Tours</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui
      tortor, proin eu lectus pellentesque. A cras suscipit amet
    </p>
    <button class="btn_itemServices">
      <a href="#">READ MORE</a>
    </button>
  </div>
</section>
