<section class="section_testimonial">
  <h5>Testimonial</h5>
  <h2>What they say about us</h2>
  <div class="response">
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Angelina Simple</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Viola Natalie</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Robert John K.</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Anggi Nani</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Graham Suryo J</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
    <div class="item_response">
      <div class="human">
        <div class="photo"></div>
        <p>Bagas G Natfi</p>
      </div>
      <p class="text_response">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
    </div>
  </div>
</section>
