<section class="section_topDestination">
  <h5>Top destination</h5>
  <h2>Discover your love</h2>
  <div class="destination">
    <div class="destination_item item_1">
      <div class="background"></div>
      <p>Taman Nasional Komodo</p>
      <div class="footer_card">
        <span>Rp. 7,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
            height="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
          ></iconify-icon>
          <span>7 days for trips</span>
        </div>
      </div>
    </div>
    <div class="destination_item item_2">
      <div class="background"></div>
      <p>Taman Nasional Bunaken</p>
      <div class="footer_card">
        <span>Rp. 10,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
            height="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
          ></iconify-icon>
          <span>9 days for trips</span>
        </div>
      </div>
    </div>
    <div class="destination_item item_3">
      <div class="background"></div>
      <p>Raja Ampat, Papua Barat</p>
      <div class="footer_card">
        <span>Rp. 20,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
            height="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
          ></iconify-icon>
          <span>14 days for trips</span>
        </div>
      </div>
    </div>
    <div class="destination_item item_4">
      <div class="background"></div>
      <p>Kepulauan Wakatobi</p>
      <div class="footer_card">
        <span>Rp. 9,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
            height="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
          ></iconify-icon>
          <span>12 days for trips</span>
        </div>
      </div>
    </div>
    <div class="destination_item item_5">
      <div class="background"></div>
      <p>Gili Trawangan, Lombok</p>
      <div class="footer_card">
        <span>Rp. 6,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
            height="clamp(1rem, 0.833rem + 0.83vw, 1.5rem)"
          ></iconify-icon>

          <span>7 days for trips</span>
        </div>
      </div>
    </div>
    <div class="destination_item item_6">
      <div class="background"></div>
      <p>Taman Nasional Bromo</p>
      <div class="footer_card">
        <span>Rp. 9,5jt</span>
        <div class="number_day">
          <iconify-icon
            icon="carbon:location-current"
            width="12"
            height="12"
          ></iconify-icon>
          <span>7 days for trips</span>
        </div>
      </div>
    </div>
  </div>
</section>
