<section class="section_ourTeams">
  <h2>Our Teams</h2>
  <p>Lorem ipsum dolor sit amet</p>
  <div class="team">
    <div class="item">
      <div class="img"></div>
      <h5>Agung perdana</h5>
      <p>Web Designer</p>
    </div>

    <div class="item">
      <div class="img"></div>
      <h5>Viola Resti</h5>
      <p>Marketing Director</p>
    </div>
    <div class="item">
      <div class="img"></div>
      <h5>Rahardianysah</h5>
      <p>International Relations</p>
    </div>
    <div class="item">
      <div class="img"></div>
      <h5>Andika</h5>
      <p>Medical Check</p>
    </div>
    <div class="item">
      <div class="img"></div>
      <h5>Theresa Russell</h5>
      <p>Doctor Assistant</p>
    </div>
  </div>
</section>
