<section class="_sections_benefits">
  <h5>BENEFITS</h5>
  <h2>OUR SERVICE</h2>
  <div class="items_benefits">
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="fa-solid:hiking"
          style="color: #3d3e48"
          width="48"
          height="64"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Hiking</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="icon-park-outline:rollerskates"
          style="color: #3d3e48"
          width="48"
          height="48"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Staking</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="map:climbing"
          style="color: #3d3e48"
          width="50"
          height="50"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Climbing</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="simple-icons:yourtraveldottv"
          style="color: #3d3e48"
          width="48"
          height="48"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Tours</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="fluent-emoji-high-contrast:diving-mask"
          style="color: #3d3e48"
          width="48"
          height="48"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Diving</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="item_benefits">
      <div class="img_benefits">
        <iconify-icon
          icon="fa-brands:fly"
          style="color: #3d3e48"
          width="48"
          height="64"
        ></iconify-icon>
      </div>
      <div class="text_block_benefits">
        <h3>Flying</h3>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
</section>
