.footer {
  margin-top: clamp(1.25rem, -0.417rem + 8.33vw, 6.25rem);
  padding: 58px clamp(0.938rem, -2.344rem + 6.84vw, 3.125rem);
  padding-bottom: 70px;
  @include sml {
    padding-bottom: 58px;
  }
  background-color: $darkgreen;
  color: $white;
  width: 100%;
  .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @include md {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 80px;
    }
    @include lg {
      gap: 0;
    }
    gap: 20px;
    margin-bottom: 35px;
    span {
      @include font(19px, 700, 180);
      margin-bottom: 0px;
      margin-top: 10px;
      @include md {
        margin-bottom: 20px;
      }
      display: inline-block;
      &:hover {
        cursor: pointer;
        color: $green;
      }
    }
    @include lg {
      @include between;
    }
  }
  .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include lg {
      display: contents;
    }
  }
  .travelaja_info {
    text-align: center;
    @include md {
      text-align: start;
    }
    width: clamp(17.5rem, 13.5rem + 20vw, 18.813rem);
    h2 {
      @include font(33px, 400, 120);
      margin-bottom: 20px;
      a:hover {
        color: $green;
      }
    }
    p {
      @include font(16px, 400, 150);
    }
  }
  ul li {
    text-align: center;
    @include sml {
      text-align: left;
    }
    &:hover {
      .drop {
        position: absolute;
        display: flex;
        background-color: $green;
        border-radius: 20px;
        padding: 10px;
        z-index: 3;

        @include lg {
          display: flex;
          position: static;
          background-color: transparent;
          border-radius: 0px;
          padding: 0;
        }
      }
      .arrow {
        transform: rotate(225deg);
      }
      .drop_links {
        left: -95px;
        width: 250px;
        @include sml {
          width: 130px;
          left: -10px;
          top: 45px;
        }
      }
      .drop_services {
        left: -80px;
        width: 250px;
        @include sml {
          width: 190px;
          left: -10px;
          top: 45px;
        }
      }
      .drop_contact {
        left: -110px;
        width: 300px;
        @include sml {
          left: -90px;
          top: 45px;
        }
      }
      @include lg {
        .drop_links,
        .drop_services,
        .drop_contact {
          width: fit-content;
        }
      }
    }

    @include lg {
      .drop {
        display: flex;
      }
    }
  }

  .drop {
    display: flex;
    flex-direction: column;
    gap: 10px;

    display: none;
    a {
      &:hover {
        color: $darkgreen;
        @include lg {
          color: $green;
        }
      }
    }
  }
  .li_drop {
    position: relative;
  }

  .social_networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg {
      align-items: flex-start;
    }
    p {
      @include font(19px, 700, 180);
      margin-bottom: 10px;
    }
  }

  .img {
    display: flex;
    gap: 10px;
    cursor: pointer;
    img:hover {
      filter: brightness(0) saturate(100%) invert(62%) sepia(26%) saturate(896%)
        hue-rotate(98deg) brightness(96%) contrast(85%);
      transform: scale(1.1);
    }
  }
  .arrow {
    display: block;
    @include box(9px);
    margin-left: 10px;
    transform: rotate(45deg);
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
    position: absolute;
    transition: all 0.5s ease;
    top: 10px;
  }
}
