.header {
  height: 60px;
  @include between;
  align-items: center;
  padding: 0 clamp(0.938rem, -2.344rem + 6.84vw, 3.125rem);
  position: absolute;
  left: 0;
  right: 0;
  top: 19px;

  .logo {
    @include font(33px, 400, 120);
    color: $white;

    &:hover {
      color: $green;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    z-index: 99;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding-top: 50px;
    transition: all 0.3s ease-in-out;
    @include bottom_hover;
    &.overlay {
      left: 0;
      padding-top: 50px;
      background-color: $darkgreen;

      @include md {
        background-color: transparent;
        padding-top: 0;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      a {
        font-size: 20px;
      }
    }
    a {
      color: $white;
      @include font(16px, 400, 180);
    }
    @include md {
      position: static;
      padding-top: 0;
      min-width: inherit;

      ul {
        display: flex;
        gap: clamp(1.25rem, -0.625rem + 3.91vw, 2.5rem);
        flex-direction: row;
        li {
          @include flex-center;

          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  .lang {
    @include flex-center;
    height: 15px;
    a {
      color: $white;
      @include flex-center;
      @include font(16px, 700, 180);
      &:hover {
        color: $green;
      }
    }
    a:before {
      content: "";
      display: inline-block;
      @include box(18px);
      border-radius: 50%;
      background: url("../src/assets/icons/country.svg");
      @include cover-background;
      margin-right: 10px;
    }
    span {
      display: block;
      @include box(9px);
      margin-left: 10px;
      transform: rotate(45deg);
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      position: relative;
      top: -2px;
      transition: transform 0.5s ease;
    }
    .lang_sabList {
      position: absolute;
      display: none;

      a {
        justify-content: start;
      }
      a:before {
        background: url("../src/assets/icons/united.svg");
        @include cover-background;
        @include box(16px);
        margin-left: 2px;
      }

      li:nth-child(2) a:before {
        background: url("../src/assets/icons/italy.svg");
        @include cover-background;
      }
      li:nth-child(3) a:before {
        background: url("../src/assets/icons/ukraine.svg");
        @include cover-background;
      }
      li:nth-child(4) a:before {
        background: url("../src/assets/icons/germany.svg");
        @include cover-background;
      }
    }
  }
  .lang:hover {
    .lang_sabList {
      display: block;
    }
    span {
      transform: rotate(225deg);
    }
  }
}

#burger-menu {
  display: block;
  @include md {
    display: none;
  }
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 5px;
  margin-left: 0px;
  overflow: visible;
  position: relative;
  z-index: 100;
  top: 0px;
  left: 0px;

  span,
  span:before,
  span:after {
    background: rgb(7, 0, 0);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  span:before,
  span:after {
    content: "";
  }

  span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }

  span {
    right: 0px;
    top: 13px;
    width: 27px;
  }

  span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }

  &.close {
    span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background-color: $green;
    }

    span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background-color: $green;
    }

    span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}
