.subHeader {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 60px;
  p {
    @include font(33px, 700, 120);
    color: $white;
    margin: 50px;
  }
}
.subHeaderDiscover {
  background: url("../src/assets/discover/header.webp");
  @include cover-background;
}
.subHeaderServices {
  background: url("../src/assets/service/header.webp");
  @include cover-background;
}
.subHeaderNews {
  background: url("/src/assets/news/header.webp");
  @include cover-background;
}
.subHeaderAboutUs {
  background: url("/src/assets/about_us/header.webp");
  @include cover-background;
}
.subHeaderContact {
  background: url("/src/assets/contact/header.webp");
  @include cover-background;
}
