.section_ourTeams {
  margin-top: clamp(1.25rem, -0.417rem + 8.33vw, 6.25rem);
  padding: 0 clamp(0.938rem, -2.344rem + 6.84vw, 3.125rem);
  color: $black;
  text-align: center;
  @include l {
    text-align: left;
  }
  h2 {
    @include font(28px, 700, 120);
    margin-bottom: 10px;
  }
  P {
    @include font(16px, 400, 180);
  }

  .team {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
  }
  .item {
    width: 200px;
    transition: transform 0.5s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.08);
    }
    h5 {
      @include font(19px, 400, 180);
      margin-top: 10px;
    }
    &:nth-child(2) {
      .img {
        background: url("/src/assets/about_us/avatar_2.webp");
      }
    }
    &:nth-child(3) {
      .img {
        background: url("/src/assets/about_us/avatar_3.webp");
      }
    }
    &:nth-child(4) {
      .img {
        background: url("/src/assets/about_us/avatar_4.webp");
      }
    }
    &:nth-child(5) {
      .img {
        background: url("/src/assets/about_us/avatar_5.webp");
      }
    }
  }
  .img {
    height: 247px;
    background: url("/src/assets/about_us/avatar_1.webp");
    border-radius: $borderRadius_15;
  }
}
