.footer {
  margin-top: clamp(1.25rem, -0.417rem + 8.33vw, 6.25rem);
  padding: 0 clamp(0.938rem, -2.344rem + 6.84vw, 3.125rem);
  padding-top: 58px;
  background-color: $darkgreen;
  color: $white;
  width: 100%;
  .info {
    @include between;
    margin-bottom: 35px;
  }
  .travelaja_info {
    width: 301px;
    h2 {
      @include font(33px, 400, 120);
      margin-bottom: 20px;
    }
    p {
      @include font(16px, 400, 150);
    }
  }
  ul {
    li {
      margin-bottom: 20px;
    }
  }
  .links {
  }
  .services {
  }
  .contact {
  }
  .social_networks {
  }
  .img {
  }
}
